@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jost:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
html {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background: rgb(0, 0, 0);
  font-family: "Rateway", sans-serif;
  line-height: 1.6;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

#footer, #mobile-home, #mobile-projects, #mobile-work, #projects, #about, #work {
  min-height: 100vh;
  width: 100%;
  position: relative;
  background: rgb(0, 0, 0);
  color: rgb(150, 150, 150);
}

#mobile-home .overlay, #mobile-home .image-container, #home .overlay, #home .image-container {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}

.fadeInUp {
  animation: fadeInUp 1s ease forwards;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
#home {
  position: relative;
  height: 100vh;
  min-height: 500px;
  display: grid;
  place-items: center;
}
@media (max-width: 771px) {
  #home {
    display: none;
  }
}
#home .image-container {
  background-image: url("../assets/home.jpeg");
  background-size: cover;
  background-position: center;
}
#home .overlay {
  background: rgba(0, 0, 0, 0.8);
}
#home .overlay .top-heading {
  display: flex;
  flex-direction: row;
  margin: 60px 200px;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 1145px) {
  #home .overlay .top-heading {
    margin: 60px 3rem;
  }
}
#home .overlay .top-heading img {
  height: 100px;
}
#home .overlay .top-heading .scoials-container {
  display: flex;
  gap: 20px;
}
#home .overlay .top-heading .scoials-container .social {
  height: 35px;
  width: 35px;
  background-color: #222222;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.4s ease;
}
#home .overlay .top-heading .scoials-container #linkedin i {
  color: #fff;
}
#home .overlay .top-heading .scoials-container #linkedin:hover {
  background-color: #0077b5;
}
#home .overlay .top-heading .scoials-container #github svg {
  height: 80%;
  width: 80%;
  fill: #fff;
}
#home .overlay .top-heading .scoials-container #github:hover {
  background-color: #fff;
}
#home .overlay .top-heading .scoials-container #email i {
  color: #fff;
}
#home .overlay .top-heading .scoials-container #email:hover {
  background-color: #ff0000;
}
#home .overlay .main-heading {
  height: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#home .overlay .main-heading .location {
  font-size: 0.75rem;
  color: #fff;
  margin-bottom: 2rem;
}
#home .overlay .main-heading .title-main-container {
  overflow: hidden;
}
#home .overlay .main-heading .title-main {
  color: white;
  font-size: 4rem;
  line-height: 4.5rem;
  letter-spacing: 0.4rem;
  width: 100%;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
  border-right: 2px transparent solid;
  animation: typing 2.5s steps(40) 2s both, blink 1s steps(44) 0.5s infinite;
}
@media (max-width: 1145px) {
  #home .overlay .main-heading .title-main {
    font-size: 2.4rem;
    line-height: 4.5rem;
    letter-spacing: 0.2rem;
  }
}
#home .overlay .main-heading .title-secondary {
  color: #3b83f6;
  font-size: 3.75rem;
  line-height: 4rem;
  width: 100%;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
  margin-right: 3px;
  border-right: 2px transparent solid;
  animation: typing 3s steps(44) 5s both, blink 1s steps(44) 5s infinite;
}
@media (max-width: 1145px) {
  #home .overlay .main-heading .title-secondary {
    font-size: 2.4rem;
    line-height: 4.5rem;
    letter-spacing: 0.2rem;
    width: 80%;
  }
}
#home .overlay .main-heading .description-container {
  margin-top: 2rem;
}
#home .overlay .main-heading .description-container p {
  color: #d1d1d1;
  font-size: 1.2rem;
}
@media (max-width: 1145px) {
  #home .overlay .main-heading .description-container p {
    font-size: 1rem;
  }
}
#home .overlay .main-heading .button-container {
  margin-top: 1.5rem;
  display: flex;
  gap: 1.5rem;
  align-items: center;
}
#home .overlay .main-heading .button-container a {
  text-decoration: none;
  color: #fff;
}
#home .overlay .main-heading .button-container a i {
  color: #3b83f6;
  margin-right: 0.4rem;
}
#home .overlay .main-heading .button-container .see-work {
  color: white;
  background-color: #222222;
  padding: 0.5rem 1rem;
  border-radius: 0.375rem;
  border: 1px solid rgb(100, 116, 139);
  font-size: 100%;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
#home .overlay .main-heading .button-container .see-work::before {
  content: "";
  background-color: #fff;
  filter: blur(10px);
  transform: skew(-20deg);
  height: 100%;
  width: 2px;
  position: absolute;
  left: -100%;
  inset-block: 0;
  animation: shine 4s ease-in-out infinite;
  animation-delay: 1.2s;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes blink {
  50% {
    border-right-color: white;
  }
  100% {
    border-right-color: transparent;
  }
}
@keyframes shine {
  0% {
    left: -100%;
  }
  50% {
    left: 130%;
  }
  100% {
    left: 130%;
  }
}
#work {
  max-width: 100vw;
  border-top: 10px solid #868e96;
  color: white;
}
@media (max-width: 1145px) {
  #work {
    display: none;
  }
}
#work .main-title {
  font-size: 3.75rem;
  padding: 5rem 15rem;
}
@media (max-width: 1500px) {
  #work .main-title {
    padding: 5rem 8rem;
  }
}
#work .work-experience-container {
  display: flex;
  justify-content: space-between;
  padding: 0 12rem;
}
@media (max-width: 1500px) {
  #work .work-experience-container {
    padding: 0 6rem;
  }
}
#work .work-experience-container .jobs-description {
  width: 32vw;
}
#work .work-experience-container .jobs-description .job {
  margin-bottom: 7rem;
  opacity: 0.1;
  transition: opacity 0.3s ease;
}
#work .work-experience-container .jobs-description .job .job-title-container {
  height: 50px;
  display: flex;
  gap: 40px;
  align-items: center;
  margin-bottom: 2.25rem;
}
#work .work-experience-container .jobs-description .job .job-title-container img {
  height: 100%;
  width: auto;
  border-radius: 50%;
}
#work .work-experience-container .jobs-description .job .job-title-container .title-description {
  display: flex;
  flex-direction: column;
}
#work .work-experience-container .jobs-description .job .job-title-container .title-description h3 {
  font-size: 1.75rem;
  margin-bottom: 0;
  padding-bottom: 0;
}
#work .work-experience-container .jobs-description .job .job-title-container .title-description p {
  color: #3b83f6;
  font-size: 1.1rem;
}
#work .work-experience-container .jobs-description .job .details-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
#work .work-experience-container .jobs-description .job .details-container .point-container {
  display: flex;
  gap: 60px;
  align-items: center;
  margin-left: 14px;
}
#work .work-experience-container .jobs-description .job .details-container .point-container .bullet {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  flex-shrink: 0;
  flex-grow: 0;
  background-color: #fff;
}
#work .work-experience-container .jobs-description .job .details-container .point-container .text {
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: bold;
}
#work .work-experience-container .jobs-description .active {
  opacity: 1;
}
#work .work-experience-container .tech-stack {
  position: sticky;
  top: 100px;
  width: 40%;
  height: 60vh;
}
@media (max-width: 1500px) {
  #work .work-experience-container .tech-stack {
    width: 50%;
  }
}
#work .work-experience-container .tech-stack .job-stack {
  display: none;
  transition: display 5s ease;
}
#work .work-experience-container .tech-stack .job-stack .title {
  font-size: 2rem;
  font-weight: 900;
}
#work .work-experience-container .tech-stack .job-stack .stack-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 2rem 0;
  row-gap: 0.5rem;
  column-gap: 2rem;
}
#work .work-experience-container .tech-stack .job-stack .stack-container .item {
  display: flex;
  align-items: center;
  gap: 1rem;
  background-color: rgb(18, 18, 18);
  border-radius: 20px;
  padding: 1rem 1rem;
}
#work .work-experience-container .tech-stack .job-stack .stack-container .item img {
  height: 4rem;
  width: auto;
}
@media (max-width: 1500px) {
  #work .work-experience-container .tech-stack .job-stack .stack-container .item img {
    height: 3rem;
  }
}
#work .work-experience-container .tech-stack .job-stack .stack-container .item .name {
  font-size: 1.75rem;
  font-weight: 600;
}
@media (max-width: 1500px) {
  #work .work-experience-container .tech-stack .job-stack .stack-container .item .name {
    font-size: 1.2rem;
  }
}

#about {
  min-height: 40vh;
}
#about .image-container {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
#about .image-container img {
  width: 60%;
  height: auto;
}
#about .about-text-container {
  background-image: url("../assets/gradient.png");
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  padding: 2rem 0;
  gap: 3rem;
  justify-content: space-evenly;
}
#about .about-text-container .about-title {
  font-size: 2.25rem;
}
@media (max-width: 1145px) {
  #about .about-text-container .about-title {
    font-size: 1.4rem;
    text-align: center;
  }
}
#about .about-text-container .about-text {
  width: 60%;
  font-size: 1.5rem;
  text-align: center;
  font-weight: 600;
}
@media (max-width: 1145px) {
  #about .about-text-container .about-text {
    width: 80%;
    font-size: 1rem;
  }
}
#about .about-text-container .about-button-container {
  display: flex;
  width: 200px;
  justify-content: center;
  align-items: center;
}
#about .about-text-container .about-button-container .about-button-regular {
  padding: 0.8rem 2rem;
  border: 2px solid #e5e7eb;
  border-radius: 20px;
  cursor: pointer;
  font-size: 1.1rem;
  font-weight: 600;
  text-align: center;
  width: 100%;
}
#about .about-text-container .about-button-container .about-button-hovered {
  display: none;
  padding: 0.8rem 2rem;
  border: 2px solid #fff;
  background-color: #fff;
  border-radius: 20px;
  cursor: pointer;
  font-size: 1.1rem;
  font-weight: 600;
  text-align: center;
  width: 100%;
  color: #0077b5;
}
#about .about-text-container .about-button-container .about-button-hovered i {
  color: #0077b5;
  font-size: 1.4rem;
  margin-left: 0.1rem;
}

#projects {
  width: 100vw;
}
@media (max-width: 1145px) {
  #projects {
    display: none;
  }
}
#projects .main-title {
  padding: 5rem 20rem 2rem 20rem;
  color: #fff;
  font-size: 3.75rem;
  margin-bottom: 3rem;
}
@media (max-width: 1500px) {
  #projects .main-title {
    padding: 5rem 5rem 2rem 5rem;
  }
}
#projects .grid-container {
  padding: 0 20rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 8rem;
  row-gap: 8rem;
  padding-bottom: 4rem;
}
@media (max-width: 1500px) {
  #projects .grid-container {
    padding: 0 5rem;
    padding-bottom: 6rem;
  }
}
@media (max-width: 1145px) {
  #projects .grid-container {
    grid-template-columns: 1fr;
  }
}
#projects .grid-container .job-card {
  background-color: transparent;
  width: 100%;
  justify-self: center;
  align-self: center;
  height: 44rem;
  position: relative;
  perspective: 1000px;
}
#projects .grid-container .job-card #sound-sphere {
  background-image: url("../assets/soundsphere.jpeg");
}
#projects .grid-container .job-card #website-builder {
  background-image: url("../assets/WebsiteBuilder.jpeg");
}
#projects .grid-container .job-card #box-shop {
  background-image: url("../assets/BoxShop.jpeg");
}
#projects .grid-container .job-card .flip-card {
  position: relative;
  background-color: transparent;
  display: block;
  width: 100%;
  height: 45%;
  perspective: 1000px;
}
#projects .grid-container .job-card .flip-card-inner {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
#projects .grid-container .job-card:hover .flip-card .flip-card-inner {
  transform: rotateY(180deg);
}
#projects .grid-container .job-card .flip-card-front,
#projects .grid-container .job-card .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}
#projects .grid-container .job-card .flip-card-front .links-container,
#projects .grid-container .job-card .flip-card-back .links-container {
  display: flex;
  gap: 2rem;
}
#projects .grid-container .job-card .flip-card-front .links-container .link,
#projects .grid-container .job-card .flip-card-back .links-container .link {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.6rem;
  font-size: 20px;
}
#projects .grid-container .job-card .flip-card-front {
  background-color: #bbb;
  color: black;
}
#projects .grid-container .job-card .flip-card-back {
  background-color: #234f94;
  color: white;
  transform: rotateY(180deg);
  border-radius: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#projects .grid-container .job-card .img-container {
  width: 100%;
  background-size: cover;
  background-position: center;
  height: 20rem;
  background-repeat: no-repeat;
}
#projects .grid-container .job-card .job-desc {
  background-color: rgb(18, 18, 18);
  padding: 1.25rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 55%;
}
#projects .grid-container .job-card .job-desc .title {
  color: #fff;
  font-weight: 600;
  font-size: 1.5rem;
  margin-bottom: 0.7rem;
}
#projects .grid-container .job-card .job-desc p {
  color: #fff;
  margin-bottom: 0.9rem;
}
#projects .grid-container .job-card .job-desc .job-stack {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}
#projects .grid-container .job-card .job-desc .job-stack .stack-item {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  border-radius: 0.5rem;
  background-color: rgb(34, 34, 34);
  padding: 0.5rem 1rem 0.5rem 0.5rem;
}
#projects .grid-container .job-card .job-desc .job-stack .stack-item img {
  height: 1.5rem;
  width: auto;
}
#projects .grid-container .job-card .job-desc .job-stack .stack-item h4 {
  color: #fff;
  font-weight: 600;
  font-size: 0.875rem;
}

#mobile-work {
  min-height: 60vh;
  color: #fff;
  display: none;
}
@media (max-width: 1145px) {
  #mobile-work {
    display: block;
  }
}
#mobile-work .main-title {
  font-size: 1.6rem;
  padding: 2rem 3rem;
}
#mobile-work .jobs-container {
  padding: 0.5rem 3rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  padding-bottom: 3rem;
}
#mobile-work .jobs-container .job .job-title-container {
  height: 30px;
  display: flex;
  gap: 40px;
  align-items: center;
  margin-bottom: 2.25rem;
}
#mobile-work .jobs-container .job .job-title-container img {
  height: 100%;
  width: auto;
  border-radius: 50%;
}
#mobile-work .jobs-container .job .job-title-container .title-description {
  display: flex;
  flex-direction: column;
}
#mobile-work .jobs-container .job .job-title-container .title-description h3 {
  font-size: 1rem;
  margin-bottom: 0;
  padding-bottom: 0;
}
#mobile-work .jobs-container .job .job-title-container .title-description p {
  color: #3b83f6;
  font-size: 0.8rem;
}
#mobile-work .jobs-container .job .details-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 2rem;
}
#mobile-work .jobs-container .job .details-container .point-container {
  display: flex;
  gap: 60px;
  align-items: center;
  margin-left: 10px;
}
#mobile-work .jobs-container .job .details-container .point-container .bullet {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  flex-shrink: 0;
  flex-grow: 0;
  background-color: #fff;
}
@media (max-width: 771px) {
  #mobile-work .jobs-container .job .details-container .point-container .bullet {
    display: none;
  }
}
#mobile-work .jobs-container .job .details-container .point-container .text {
  font-size: 0.8rem;
  line-height: 1.2rem;
  font-weight: bold;
}
@media (max-width: 771px) {
  #mobile-work .jobs-container .job .details-container .point-container .text {
    font-size: 0.6rem;
  }
}
#mobile-work .jobs-container .job .job-stack {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}
#mobile-work .jobs-container .job .job-stack .stack-item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border-radius: 0.5rem;
  background-color: rgb(34, 34, 34);
  padding: 0.3rem 0.8rem 0.4rem 0.5rem;
}
#mobile-work .jobs-container .job .job-stack .stack-item img {
  height: 0.7rem;
  width: auto;
}
#mobile-work .jobs-container .job .job-stack .stack-item h4 {
  color: #fff;
  font-weight: 600;
  font-size: 0.7rem;
}

#mobile-projects {
  display: none;
}
@media (max-width: 1145px) {
  #mobile-projects {
    display: block;
  }
}
#mobile-projects .main-title {
  color: #fff;
  padding: 2rem 4rem;
  font-size: 3rem;
  margin-bottom: 2rem;
}
@media (max-width: 771px) {
  #mobile-projects .main-title {
    font-size: 1.2rem;
    margin-bottom: 0rem;
    padding: 1rem 1rem;
  }
}
#mobile-projects .projects-container {
  padding: 3rem 4rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
@media (max-width: 771px) {
  #mobile-projects .projects-container {
    padding: 1rem 1rem;
  }
}
#mobile-projects .projects-container .job-card {
  display: flex;
  border-radius: 0.5rem;
}
#mobile-projects .projects-container .job-card #sound-sphere {
  background-image: url("../assets/soundsphere.jpeg");
}
#mobile-projects .projects-container .job-card #website-builder {
  background-image: url("../assets/WebsiteBuilder.jpeg");
}
#mobile-projects .projects-container .job-card #box-shop {
  background-image: url("../assets/BoxShop.jpeg");
}
#mobile-projects .projects-container .job-card .logo {
  width: 40%;
  background-size: cover;
  background-position: center;
}
@media (max-width: 771px) {
  #mobile-projects .projects-container .job-card .logo {
    display: none;
  }
}
#mobile-projects .projects-container .job-card .content {
  background-color: rgb(18, 18, 18);
  height: 100%;
  width: 60%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
@media (max-width: 771px) {
  #mobile-projects .projects-container .job-card .content {
    width: 90%;
  }
}
#mobile-projects .projects-container .job-card .content .title-links {
  display: flex;
  align-items: center;
  gap: 2rem;
  width: 60%;
}
@media (max-width: 771px) {
  #mobile-projects .projects-container .job-card .content .title-links {
    flex-direction: column;
    gap: 0.5rem;
    align-items: flex-start;
  }
}
#mobile-projects .projects-container .job-card .content .title-links .project-title {
  color: #fff;
  font-size: 1.4rem;
}
@media (max-width: 771px) {
  #mobile-projects .projects-container .job-card .content .title-links .project-title {
    font-size: 1rem;
  }
}
#mobile-projects .projects-container .job-card .content .title-links .links-container {
  color: #fff;
  display: flex;
  gap: 0.8rem;
}
#mobile-projects .projects-container .job-card .content .title-links .links-container .link {
  cursor: pointer;
  display: flex;
  align-items: center;
}
#mobile-projects .projects-container .job-card .content .title-links .links-container .link i {
  font-size: 0.9rem;
}
@media (max-width: 771px) {
  #mobile-projects .projects-container .job-card .content .title-links .links-container .link i {
    font-size: 0.5rem;
  }
}
#mobile-projects .projects-container .job-card .content .title-links .links-container .link span {
  font-size: 0.7rem;
}
@media (max-width: 771px) {
  #mobile-projects .projects-container .job-card .content .title-links .links-container .link span {
    font-size: 0.5rem;
  }
}
#mobile-projects .projects-container .job-card .content .description {
  color: #fff;
  font-size: 0.9rem;
}
@media (max-width: 771px) {
  #mobile-projects .projects-container .job-card .content .description {
    font-size: 0.7rem;
  }
}
#mobile-projects .projects-container .job-card .content .job-stack {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}
#mobile-projects .projects-container .job-card .content .job-stack .stack-item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border-radius: 0.5rem;
  background-color: rgb(34, 34, 34);
  padding: 0.3rem 0.8rem 0.4rem 0.5rem;
}
#mobile-projects .projects-container .job-card .content .job-stack .stack-item img {
  height: 0.7rem;
  width: auto;
}
#mobile-projects .projects-container .job-card .content .job-stack .stack-item h4 {
  color: #fff;
  font-weight: 600;
  font-size: 0.7rem;
}

#mobile-home {
  display: none;
}
@media (max-width: 771px) {
  #mobile-home {
    display: block;
  }
}
#mobile-home .image-container {
  background-image: url("../assets/home.jpeg");
  background-size: cover;
  background-position: center;
}
#mobile-home .overlay {
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
#mobile-home .overlay img {
  height: 95px;
}
#mobile-home .overlay .title-container {
  text-align: center;
}
#mobile-home .overlay .title-container h2 {
  color: white;
}
#mobile-home .overlay .title-container h3 {
  font-size: 1.8rem;
  color: #3b83f6;
}
#mobile-home .overlay .button-container {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}
#mobile-home .overlay .button-container a {
  text-decoration: none;
  color: #fff;
}
#mobile-home .overlay .button-container a i {
  color: #3b83f6;
  margin-right: 0.4rem;
}
#mobile-home .overlay .button-container .see-work {
  color: white;
  background-color: #222222;
  padding: 0.5rem 1rem;
  border-radius: 0.375rem;
  border: 1px solid rgb(100, 116, 139);
  font-size: 100%;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
#mobile-home .overlay .button-container .see-work::before {
  content: "";
  background-color: #fff;
  filter: blur(10px);
  transform: skew(-20deg);
  height: 100%;
  width: 2px;
  position: absolute;
  left: -100%;
  inset-block: 0;
  animation: shine 4s ease-in-out infinite;
  animation-delay: 1.2s;
}
#mobile-home .overlay .scoials-container {
  display: flex;
  gap: 20px;
}
#mobile-home .overlay .scoials-container .social {
  height: 35px;
  width: 35px;
  background-color: #222222;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.4s ease;
}
#mobile-home .overlay .scoials-container #linkedin i {
  color: #fff;
}
#mobile-home .overlay .scoials-container #linkedin:hover {
  background-color: #0077b5;
}
#mobile-home .overlay .scoials-container #github svg {
  height: 80%;
  width: 80%;
  fill: #fff;
}
#mobile-home .overlay .scoials-container #github:hover {
  background-color: #fff;
}
#mobile-home .overlay .scoials-container #email i {
  color: #fff;
}
#mobile-home .overlay .scoials-container #email:hover {
  background-color: #ff0000;
}

#footer {
  min-height: 20vh;
  padding: 5rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
#footer img {
  height: 85px;
}
#footer .scoials-container {
  display: flex;
  gap: 20px;
}
#footer .scoials-container .social {
  height: 35px;
  width: 35px;
  background-color: #222222;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.4s ease;
}
#footer .scoials-container #linkedin i {
  color: #fff;
}
#footer .scoials-container #linkedin:hover {
  background-color: #0077b5;
}
#footer .scoials-container #github svg {
  height: 80%;
  width: 80%;
  fill: #fff;
}
#footer .scoials-container #github:hover {
  background-color: #fff;
}
#footer .scoials-container #email i {
  color: #fff;
}
#footer .scoials-container #email:hover {
  background-color: #ff0000;
}
#footer h2 {
  color: white;
}

/*# sourceMappingURL=compiled_style.css.map */
