#home {
  position: relative;
  height: 100vh;
  min-height: 500px;
  display: grid;
  place-items: center;

  .image-container {
    background-image: url("../assets/home.jpeg");
    background-size: cover;
    background-position: center;

    @extend %full-screen-fixed;
  }

  .overlay {
    @extend %full-screen-fixed;
    background: rgba(0, 0, 0, 0.85);

    .top-heading {
      display: flex;
      flex-direction: row;
      margin: 60px 200px;
      justify-content: space-between;
      align-items: center;
      h3 {
        color: white;
      }
      .scoials-container {
        display: flex;
        gap: 20px;
        .social {
          height: 35px;
          width: 35px;
          background-color: $main-grey;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          transition: background-color 0.4s ease;
        }

        #linkedin svg {
          height: 60%;
          width: 60%;
        }

        #linkedin:hover {
          background-color: #0077b5;
        }

        #github svg {
          height: 80%;
          width: 80%;
          fill: #fff;
        }

        #github:hover {
          background-color: #fff;
        }

        #email svg {
          height: 60%;
          width: 60%;
        }

        #email:hover {
          background-color: #ff0000;
        }
      }
    }
  }
}
