#home {
  position: relative;
  height: 100vh;
  min-height: 500px;
  display: grid;
  place-items: center;

  .image-container {
    background-image: url("../assets/home.jpeg");
    background-size: cover;
    background-position: center;

    @extend %full-screen-fixed;
  }

  .overlay {
    @extend %full-screen-fixed;
    background: rgba(0, 0, 0, 0.8);

    .top-heading {
      display: flex;
      flex-direction: row;
      margin: 60px 200px;
      justify-content: space-between;
      align-items: center;

      @media (max-width: $breakpoint-2) {
        margin: 60px 3rem;
      }
      h3 {
        color: white;
      }
      .scoials-container {
        display: flex;
        gap: 20px;
        .social {
          height: 35px;
          width: 35px;
          background-color: $main-grey;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          transition: background-color 0.4s ease;
        }

        #linkedin i {
          color: #fff;
        }

        #linkedin:hover {
          background-color: #0077b5;
        }

        #github svg {
          height: 80%;
          width: 80%;
          fill: #fff;
        }

        #github:hover {
          background-color: #fff;
        }

        #email i {
          color: #fff;
        }

        #email:hover {
          background-color: #ff0000;
        }
      }
    }

    .main-heading {
      height: 60%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .location {
        font-size: 0.75rem;
        color: #fff;
        margin-bottom: 2rem;
      }

      .title-main-container {
        overflow: hidden;
      }

      .title-main {
        color: white;
        font-size: 4rem;
        line-height: 4.5rem;
        letter-spacing: 0.4rem;

        width: 100%;

        text-align: center;
        overflow: hidden;
        white-space: nowrap;
        display: inline-block;

        border-right: 2px transparent solid;
        animation: typing 2.5s steps(40) 2s both,
          blink 1s steps(44) 0.5s infinite;

        @media (max-width: $breakpoint-2) {
          font-size: 2.4rem;
          line-height: 4.5rem;
          letter-spacing: 0.2rem;
        }
      }

      .title-secondary {
        color: $main-blue;
        font-size: 3.75rem;
        line-height: 4rem;

        width: 100%;

        text-align: center;
        overflow: hidden;
        white-space: nowrap;
        display: inline-block;

        margin-right: 3px;

        border-right: 2px transparent solid;
        animation: typing 3s steps(44) 5s both, blink 1s steps(44) 5s infinite;

        @media (max-width: $breakpoint-2) {
          font-size: 2.4rem;
          line-height: 4.5rem;
          letter-spacing: 0.2rem;

          width: 80%;
        }
      }

      .description-container {
        margin-top: 2rem;
        p {
          color: #d1d1d1;
          font-size: 1.2rem;

          @media (max-width: $breakpoint-2) {
            font-size: 1rem;
          }
        }
      }

      .button-container {
        margin-top: 1.5rem;
        display: flex;
        gap: 1.5rem;
        align-items: center;

        a {
          text-decoration: none;
          color: #fff;

          i {
            color: $main-blue;
            margin-right: 0.4rem;
          }
        }

        .see-work {
          color: white;
          background-color: #222222;
          padding: 0.5rem 1rem;
          border-radius: 0.375rem;
          border: 1px solid rgba(100 116 139);
          font-size: 100%;

          position: relative;
          overflow: hidden;

          cursor: pointer;

          &::before {
            content: "";
            background-color: #fff;
            filter: blur(10px);
            transform: skew(-20deg);
            height: 100%;
            width: 2px;
            position: absolute;
            left: -100%;
            inset-block: 0;
            animation: shine 4s ease-in-out infinite;
            animation-delay: 1.2s;
          }
        }
      }
    }
  }
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink {
  50% {
    border-right-color: white;
  }
  100% {
    border-right-color: transparent;
  }
}

@keyframes shine {
  0% {
    left: -100%;
  }
  50% {
    left: 130%;
  }
  100% {
    left: 130%;
  }
}
