#mobile-projects {
  display: none;
  @extend %section;

  @media (max-width: $breakpoint-2) {
    display: block;
  }

  .main-title {
    color: #fff;
    padding: 2rem 4rem;
    font-size: 3rem;
    margin-bottom: 2rem;

    @media (max-width: $breakpoint-1) {
      font-size: 1.2rem;
      margin-bottom: 0rem;
      padding: 1rem 1rem;
    }
  }

  .projects-container {
    padding: 3rem 4rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;

    @media (max-width: $breakpoint-1) {
      padding: 1rem 1rem;
    }

    .job-card {
      display: flex;
      border-radius: 0.5rem;

      #sound-sphere {
        background-image: url("../assets/soundsphere.jpeg");
      }

      #website-builder {
        background-image: url("../assets/WebsiteBuilder.jpeg");
      }

      #box-shop {
        background-image: url("../assets/BoxShop.jpeg");
      }

      .logo {
        width: 40%;
        background-size: cover;
        background-position: center;

        @media (max-width: $breakpoint-1) {
          display: none;
        }
      }

      .content {
        background-color: rgb(18, 18, 18);
        height: 100%;
        width: 60%;

        padding: 1rem;

        display: flex;
        flex-direction: column;
        gap: 1.2rem;

        @media (max-width: $breakpoint-1) {
          width: 90%;
        }

        .title-links {
          display: flex;
          align-items: center;
          gap: 2rem;

          width: 60%;

          @media (max-width: $breakpoint-1) {
            flex-direction: column;
            gap: 0.5rem;
            align-items: flex-start;
          }

          .project-title {
            color: #fff;
            font-size: 1.4rem;

            @media (max-width: $breakpoint-1) {
              font-size: 1rem;
            }
          }

          .links-container {
            color: #fff;
            display: flex;
            gap: 0.8rem;

            .link {
              cursor: pointer;
              display: flex;
              align-items: center;

              i {
                font-size: 0.9rem;

                @media (max-width: $breakpoint-1) {
                  font-size: 0.5rem;
                }
              }

              span {
                font-size: 0.7rem;

                @media (max-width: $breakpoint-1) {
                  font-size: 0.5rem;
                }
              }
            }
          }
        }

        .description {
          color: #fff;
          font-size: 0.9rem;

          @media (max-width: $breakpoint-1) {
            font-size: 0.7rem;
          }
        }

        .job-stack {
          display: flex;
          gap: 1rem;
          flex-wrap: wrap;

          .stack-item {
            display: flex;
            align-items: center;
            gap: 0.5rem;
            border-radius: 0.5rem;
            background-color: rgb(34, 34, 34);
            padding: 0.3rem 0.8rem 0.4rem 0.5rem;

            img {
              height: 0.7rem;
              width: auto;
            }
            h4 {
              color: #fff;
              font-weight: 600;
              font-size: 0.7rem;
            }
          }
        }
      }
    }
  }
}
