// Variables
$font-stack: "Rateway", sans-serif;
$background: rgb(0, 0, 0);
$main-blue: #3b83f6;
$primary-font-color: rgb(150, 150, 150);
$main-grey: #222222;
$light-grey: #bbbbbb;
$complementary-yellow: #f6ae3b;

$breakpoint-laptop: 1500px;
