#work {
  @extend %section;

  max-width: 100vw;

  .main-title {
    font-size: 3.75rem;
    color: #fff;
    padding: 3.5rem 4rem;
  }

  .work-experience {
    padding: 0 6rem;
    display: flex;
    justify-content: space-between;
    position: relative;
    max-width: 1600px;

    .job-description {
      max-width: 40vw;
      .timeline {
        list-style: none;
        margin-bottom: 5rem;

        li {
          position: relative;
          padding: 10px;

          color: #fff;
          padding-left: 4rem;
          line-height: 1.75rem;
          font-size: 1.25rem;

          &::before {
            content: "";
            width: 16px;
            height: 16px;
            border-radius: 50%;
            background: #fff;
            position: absolute;
            left: -15px;
            top: 50%;
            transform: translateY(-40%);
          }

          &:not(:last-child)::after {
            content: "";
            width: 2px;
            height: 100%;
            background: #fff;
            position: absolute;
            left: -8px;
            top: 50%;
          }
        }

        #guilds-pro {
          line-height: 1.2;
          .container {
            h3 {
              color: white;
              font-size: 1.5rem;
            }

            span {
              color: $main-blue;
              font-size: 1rem;
            }
          }

          &::before {
            content: "";
            width: 40px;
            height: 40px;
            border-radius: 50%;

            position: absolute;
            left: -27px;
            top: 50%;
            transform: translateY(-40%);

            background-image: url("../assets/guilds.jpeg") repeat 0 0;
            background-size: cover;
            background-position: center;
          }
        }

        #alibi {
          line-height: 1.2;
          .container {
            h3 {
              color: white;
              font-size: 1.5rem;
            }

            span {
              color: $main-blue;
              font-size: 1rem;
            }
          }

          &::before {
            // content: "";
            // width: 40px;
            // height: 40px;
            // border-radius: 50%;

            // position: absolute;
            // left: -27px;
            // top: 50%;
            // transform: translateY(-40%);

            // background-image: url("../assets/alibi.jpeg") repeat 0 0;
            // background-size: 30%;
            // background-position: center;

            content: "";
            height: 20px;
            width: 20px;
            // background-color: white;
            background-color: transparent !important;
            background: url("../assets/alibi.jpeg");
            z-index: 100;
            position: absolute;
            top: 0px;
            left: 0px;
          }
        }
      }
    }
  }
}
