#work {
  @extend %section;
  max-width: 100vw;

  color: white;
  // padding: 5rem 10rem;

  .main-title {
    font-size: 3.75rem;
    padding: 5rem 15rem;
  }

  .work-experience-container {
    display: flex;
    justify-content: space-between;
    padding: 0 15rem;

    .jobs-description {
      width: 30vw;

      .job {
        margin-bottom: 7rem;

        .job-title-container {
          height: 50px;
          display: flex;
          gap: 40px;
          align-items: center;

          margin-bottom: 2.25rem;
          img {
            height: 100%;
            width: auto;
            border-radius: 50%;
          }
          .title-description {
            display: flex;
            flex-direction: column;

            h3 {
              font-size: 1.75rem;
              margin-bottom: 0;
              padding-bottom: 0;
            }

            p {
              color: $main-blue;
              font-size: 1.1rem;
            }
          }
        }

        .details-container {
          display: flex;
          flex-direction: column;
          gap: 15px;

          .point-container {
            display: flex;
            gap: 60px;
            align-items: center;

            margin-left: 14px;

            .bullet {
              height: 20px;
              width: 20px;
              border-radius: 50%;

              flex-shrink: 0;
              flex-grow: 0;

              background-color: #fff;
            }

            .text {
              font-size: 1.125rem;
              line-height: 1.75rem;
              font-weight: bold;
            }
          }
        }
      }
    }

    .tech-stack {
      position: sticky;
      top: 100px;

      border: 2px solid white;
      width: 40%;
      height: 60vh;
    }
  }
}
